<% @movies.each_slice(4) do |n_movies| %>
    <div class="columns">
      <% n_movies.each do |movie| %>
        <div class="column is-2 is-offset-1">
          <%= link_to movie_path(movie) do %>
            <div class="">
                <div class="card-image">
                  <figure class="image">
                    <img style="height: 50%" src=<%= movie.poster_path %>>
                  </figure>
                </div>
                <div class="media-content">
                  <p><%= movie.title %></p>
                </div>
              </div>
          <% end %>
        </div>
      <% end %>
    </div>
<% end %>

<br>


<%= paginate @movies %>
<br>
